.transition {
    background-color: white;
    height: 0.5%;

}

.box-CV {
    position: relative;
    background-color: rgba(0, 0, 0, 0.315);
    width: 40%;
    height: 60%;
    top: 20%;
    left: 30%;
    border: solid;
    animation: popin 1s;
}

#nom {  
    font-size: clamp(0rem, 3vw, 15rem);
}

#cv {
    position: absolute;
    right: 2%;
    bottom: 4%;
    font-size: clamp(0rem, 1.8vw, 15rem);
}

#cv a {
    text-decoration: none;
    padding-right: 4px;
    padding-left: 4px;
    border-radius: 10px;
    color: yellow;
}

#cv a:hover {
    color: black;
    background-color: white;
    transition: 1s;
    font-size: 120%;
}