@font-face {
    font-family: 'bisonbold';
    src: url('font/bison-bold-webfont.woff2') format('woff2'),
         url('font/bison-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    color: white;
    font-family: 'bisonbold';
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

body {
    background-color: black;
    animation: fadein 1.5s; 
}

header {
    background-color: black;
    opacity: 50%;
    height: 8%;
    width: 30%;
    position: fixed;
    left: 35%;
    top: 6%;
    border-radius: 90px;
    animation: fadeinMenu 3 s;
}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    list-style: none;
    padding-right: 9%;
    font-size: clamp(0rem, 34px, 15rem);
    margin-top: 3%;
}

header ul li a{
    text-decoration: none;
    padding: 3px;
    border-radius: 15px;
}

header ul li a:hover {
    font-size: 105%;
    border: solid yellow;
    transition-duration: 0.1s;

}
section {
    height: 100%;
    scroll-snap-align: center;
}

section#home {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), url("background3.jpg");
    background-size: cover;
}

section#about {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), url("background.jpg");
    background-size: cover;
}

@keyframes fadein {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
    
}
@keyframes fadeinMenu {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 50%;
    }
    
}

@keyframes popin {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
