@font-face {
    font-family: 'bisonbold';
    src: url('font/bison-bold-webfont.woff2') format('woff2'),
         url('font/bison-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    color: white;
    font-family: 'bisonbold';
    animation: fadein 1.5s;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

body {
    background-color: black;
}

section {
    height: 100%;
    scroll-snap-align: center;
}

section#presentation {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), url("background.jpg");
    background-size: cover;
}

section#suite {
    background-color: white;
}

.box-presentation {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.315);
    width: 40%;
    height: 60%;
    top: 20%;
    left: 15%;
    border: solid;
    animation: popin 1s;
}

.border-name {  
    position: absolute;
    height: 20%;
    width: 50%;
    left: 10%;
    top: 30%;
    border-bottom-right-radius: 90%;
    border-bottom: solid white;
    animation: slideInBorder 1.5s;    
}

.border-profil {  
    position: absolute;
    height: 20%;
    width: 40%;
    right: 5%;
    bottom: 5%;
    border-top-left-radius: 90%;
    border-top: solid white;  
    animation: slideInBorderProfil 1.5s; 
}

#nom {  
    font-size: clamp(0rem, 3vw, 15rem);
}

#profil {
    position: absolute;
    right: 2%;
    bottom: 4%;
    font-size: clamp(0rem, 36px, 1500rem);
}

#profil a {
    text-decoration: none;
    padding-right: 4px;
    padding-left: 4px;
    border-radius: 10px;
    color: yellow;
}

#profil a:hover {
    color: black;
    background-color: white;
    transition: 1s;
    font-size: 120%;
}

@keyframes fadein {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
    
}

@keyframes slideInBorder {
    0% {
        border-bottom-right-radius: 0%;
        width: 0%;
        left: 40%;
    }
    100% {
        border-bottom-right-radius: 90%;
        width: 50%;
        left: 10%;
    }
    
}

@keyframes slideInBorderProfil {
    0% {
        border-bottom-right-radius: 0%;
        width: 0%;
        right: 15%;
    }
    100% {
        border-bottom-right-radius: 90%;
        width: 40%;
        right: 5%;
    }
    
}

@keyframes fadeinLien {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 15%;
    }
    
}

@keyframes slideIn {
    0% {
        height: 0%;
    }
    100% {
        height: 8%;
    }
    
}
@keyframes popin {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
