/* Importation d'une police */
@font-face {
    font-family: 'bisonbold';
    src: url('font/bison-bold-webfont.woff2') format('woff2'),
         url('font/bison-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Mise en forme globale */
* {
    margin: 0;
    color: white;
    font-family: 'bisonbold';
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

body {
    background-color: black;
    animation: fadein 1.5s;
    overflow-y: hidden;
}

/* Le menu */
header {
    background-color: black;
    opacity: 50%;
    height: 74px;
    width: 580px;
    position: fixed;
    top: 6%;
    border-radius: 90px;
    animation: fadeinMenu 3 s;
    left: 50%;
    transform: translate(-50%, 0);
}

header ul {
    display: flex;
    justify-content: center;
}

header ul li {
    list-style: none;
    padding-right: 9%;
    padding-top: 3%;
    font-size: 32px;
}

header ul li a{
    text-decoration: none;
    padding: 3px;
    border-radius: 15px;
}

header ul li a:hover {
    font-size: 105%;
    border: solid yellow;
    transition-duration: 0.1s;

}

/* Les sections */
section {
    height: 100%;
}

.transition {
    background-color: white;
    height: 0.5%;

}

/* Section home */
section#home {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), url("background3.jpg");
    background-position: center;
    background-size: cover;
}
.presentation {
    position: absolute;
    text-align: center;
    left: 50%;
    transform: translate(-50%, 0);
    top: 40%;
    font-size: 29px;
    opacity: 70%;
}
#name {
    font-size: 90px;
}

#more {
    font-size: 67px;
    padding-top: 10%;
}

#more a {
    text-decoration: none;
    color: yellow;
}

#more a:hover {
    text-decoration: none;
    font-size: 120%;
    transition-duration: 1.5s;
}

/* Section about */
section#about {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), url("background.jpg");
    background-position: center;
    background-size: cover;
}

.box-CV {
    position: relative;
    background-color: rgba(0, 0, 0, 0.315);
    width: 40%;
    height: 60%;
    top: 20%;
    left: 30%;
    border: solid rgba(255, 255, 255, 0.300);
    animation: popin 1s;
}

#nom {  
    font-size: 3vw;
}

#fleche {
    visibility: hidden;
    color: red;
    font-size: 35px;
}

#choix {
    font-size: 30px;
    text-align: center;
    padding-top: 40px;
}

#choix a {
    text-decoration: none;
}

#texteProjetProf:hover ~ #fleche{
    visibility: visible;
}

#texteCentresInteret:hover ~ #fleche{
    visibility: visible;
}

#image-note{
    position: absolute;
    width: 100px;
    height: 100px;
    bottom: 15px;
    left: 15px;
}

#cv {
    position: absolute;
    right: 2%;
    bottom: 4%;
    font-size: 32px;
}

#cv a {
    text-decoration: none;
    padding-right: 4px;
    padding-left: 4px;
    border-radius: 10px;
    color: yellow;
}

#cv a:hover {
    color: black;
    background-color: white;
    transition: 1s;
    font-size: 120%;
}

/* Section contact */
section#contact {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), url("background4.jpg");
    background-position: center;
    background-size: cover;
}

/* Les animations */
@keyframes fadein {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
    
}
@keyframes fadeinMenu {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 50%;
    }
    
}

@keyframes popin {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
