* {
    margin: 0;
    color: white;
    font-family: 'bisonbold';
    animation: fadein 1.5s;
    scroll-behavior: smooth;
}

body {
    background-color: black;
    overflow-y: hidden;
}

@font-face {
    font-family: 'made_brunoregular';
    src: url('font/made_bruno_personal_use-webfont.woff2') format('woff2'),
         url('font/made_bruno_personal_use-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'bisonbold';
    src: url('font/bison-bold-webfont.woff2') format('woff2'),
         url('font/bison-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.presentation {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), url("background.jpg");
    background-size: cover;
    height: 100%;
}

.box-presentation {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.315);
    width: 40%;
    height: 60%;
    top: 20%;
    left: 15%;
    border: solid;
    animation: popin 1s;
}

.border-name {  
    position: absolute;
    height: 20%;
    width: 50%;
    left: 10%;
    top: 35%;
    border-bottom-right-radius: 90%;
    border-bottom: solid white;
    animation: slideInBorder 1.5s;    
}

#suite {
    background-color: green;
    height : 100%;
}

#nom {  
    position: absolute;
    left: 2%;
    top: 2%;
    font-size: clamp(0rem, 5vw, 15rem);
}

#profil {
    position: absolute;
    right: 2%;
    bottom: 4%;
    font-size: clamp(0rem, 28px, 1500rem);
}

#profil a {
    text-decoration: none;
    padding-right: 4px;
    padding-left: 4px;
    border-radius: 10px;
    color: yellow;
}

#profil a:hover {
    color: black;
    background-color: white;
    transition: 1s;
    font-size: 120%;
}

#lien {
    background-color: yellow;
    opacity: 15%;
    position: absolute;
    height: 10%;
    width: 100%;
    bottom: 0;
    animation: fadeinLien 1.5s;
    animation: slideIn 2s;
}

#lien:hover {
    height: 13%;
    transition-duration: 2s;
}

@keyframes fadein {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
    
}

@keyframes slideInBorder {
    0% {
        border-bottom-right-radius: 0%;
        width: 0%;
        left: 40%;
    }
    100% {
        border-bottom-right-radius: 90%;
        width: 50%;
        left: 10%;
    }
    
}

@keyframes fadeinLien {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 15%;
    }
    
}

@keyframes slideIn {
    0% {
        height: 0%;
    }
    100% {
        height: 10%;
    }
    
}
@keyframes popin {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
