* {
    margin: 0;
    background-color: black;
    color: white;
}

.body {
    background-color: black;
}
.head{
    width: 100%;
    height: 8%;
    background-color: grey;
    opacity: 20%;
}

.contenu {
    height: 84%;
}
.foot{
    width: 100%;
    height: 8%;
    background-color:grey;
    opacity: 20%;
}